<div class="uk-background-primary uk-light">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo" href="#">
                        <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 0.5"></span>
                    </a>

                    <ul class="uk-navbar-nav">
                        <li class="uk-active">
                            <a href="#">Produtos</a>
                        </li>
                        <li>
                            <a href="#">Meus pets</a>
                        </li>
                        <li>
                            <a href="#">Consultas</a>
                        </li>
                    </ul>

                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active">
                            <a href="#">
                                <span uk-icon="cart"></span>
                                <span class="uk-badge">12</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span uk-icon="user"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span uk-icon="sign-out"></span>
                            </a>
                        </li>
                    </ul>

                </div>

        </nav>
    </div>
</div>