<div class="uk-position-center">
    <a>
        <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 1"></span>
    </a>

    
    <div class="uk-card uk-card-secondary uk-card-body uk-margin">
        <h3 class="uk-card-title">Cadastre-se</h3>
        
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nome">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="E-mail">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="CPF">
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Senha">
        </div>

        <div class="uk-flex uk-flex-center@m uk-flex-right@l">
            <button class="uk-button uk-button-secondary">Cadastrar</button>
        </div>
    </div>
</div>
