<div class="uk-position-center">
        <a>
            <span class="uk-icon" uk-icon="icon: logo-color-dark; ratio: 1"></span>
        </a>

        <app-loading *ngIf="busy"></app-loading>

        <div *ngIf="!busy" class="uk-margin">
            <form [formGroup]="form">
                <div class="uk-card uk-card-secondary uk-card-body uk-margin">
                    <h3 class="uk-card-title">Autentique-se</h3>
                    
                    <div class="uk-margin">
                        <input appMask="###.###.###-##" class="uk-input" type="text" placeholder="CPF" formControlName="email">
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Senha" formControlName="password">
                    </div>

                    <div class="uk-flex uk-flex-center@m uk-flex-right@l">
                        <button [disabled]="form.invalid" class="uk-button uk-button-secondary"
                        (click)="submit()">
                            Entrar
                        </button>
                    </div>
                </div>
            </form>

            <p class="uk-text-center">
                <a [routerLink]="['/cadastro']" class="uk-button uk-width-1-1 uk-button-large uk-button-secondary uk-margin-small-bottom">Quero me
                Cadastrar</a>
                <br>
                <a [routerLink]="['/recuperar-senha']" class="uk-button uk-button-link">Esqueci minha senha</a>
            </p>
        </div>
</div>
